<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Usuario</title>
    <link rel="stylesheet" href="C:\Users\4.C Programación\Documents\GitHub\Skillnest_fullStack_Python\python\mysql\erd\administrador_de_usuarios\static\css\style.css">
</head>
<body>
    <main class="app-container">
        <div class="view-header">
            <h2>Dashboard</h2>
        </div>
        
        <div class="table-responsive">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>E-mail</th>
                        <th>Tipo Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Patricia</td>
                        <td>patricia@codingdojo.com</td>
                        <td>Admin</td>
                        <td class="actions">
                            <a href="mensajes.html" class="action-link" title="Mensaje">✉️</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Andrea</td>
                        <td>andrea@codingdojo.com</td>
                        <td>Usuario</td>
                        <td class="actions">
                            <a href="mensajes.html" class="action-link" title="Mensaje">✉️</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Katya</td>
                        <td>katya@codingdojo.com</td>
                        <td>Usuario</td>
                        <td class="actions">
                            <a href="mensajes.html" class="action-link" title="Mensaje">✉️</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="index.html" class="back-link">&larr; Cerrar Sesión</a></p>
    </main>
</body>
</html>