<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario</title>
    <link rel="stylesheet" href="C:\Users\4.C Programación\Documents\GitHub\Skillnest_fullStack_Python\python\mysql\erd\administrador_de_usuarios\static\css\style.css">
</head>
<body>
    <main class="app-container">
        <div class="form-container-centered">
            <h2>Nuevo Usuario</h2>
            <form action="dashboard_admin.html" method="GET">
                <div class="form-grid-row">
                    <label>Nombre</label>
                    <input type="text" required>
                </div>
                <div class="form-grid-row">
                    <label>E-mail</label>
                    <input type="email" required>
                </div>
                <div class="form-grid-row">
                    <label>Contraseña</label>
                    <input type="password" required>
                </div>
                <div class="form-grid-row">
                    <label>Conf. Contraseña</label>
                    <input type="password" required>
                </div>
                <div class="form-grid-row">
                    <label>Tipo de Usuario</label>
                    <select>
                        <option value="admin">Administrador</option>
                        <option value="user">Usuario</option>
                    </select>
                </div>
                <div class="action-row">
                    <button type="submit" class="btn">Crear</button>
                </div>
            </form>
            <p><a href="dashboard_admin.html" class="back-link">&larr; Volver al Dashboard</a></p>
        </div>
    </main>
</body>
</html>